@import url("../dijit.css");.dj_safari .soria .dijitPopup{-webkit-box-shadow:0 3px 7px #adadad;}
.soria .dijitButtonNode,.soria .dijitToolbar,.soria .dijitTab,.soria .dijitSplitContainerSizerV,.soria .dijitAccordionPane .dijitAccordionTitle,.soria .dijitCalendarMonthContainer th,.soria .dijitProgressBarEmpty,.soria .dijitTooltipContainer,.soria .dijitHorizontalSliderRemainingBar{background:#b7cdee url('images/gradientTopBg.png') repeat-x;#background-image:none!important;}
.soria .dijitButtonHover .dijitButtonNode,.soria .dijitToggleButtonHover .dijitButtonNode,.soria .dijitDropDownButtonHover .dijitButtonNode,.soria .dijitComboButtonHover .dijitButtonContents,.soria .dijitComboButtonDownArrowHover .dijitDownArrowButton,.soria .dijitComboBoxHover .dijitDownArrowButton,.soria .dijitSpinnerUpArrowHover .dijitUpArrowButton,.soria .dijitSpinnerDownArrowHover .dijitDownArrowButton,.soria .dijitTitlePane .dijitTitlePaneTitle,.soria .dijitTabHover,.soria .dijitTabCloseButtonHover,.soria .dijitDialogTitleBar,.soria .dijitAccordionPane-selected .dijitAccordionTitle,.soria .dijitProgressBarTile,.soria .dijitHorizontalSliderProgressBar{background:#4f8ce5 url('images/gradientTopBg.png') repeat-x;}
.soria .dijitComboBox .dijitDownArrowButtonInner,.soria .dijitMenuExpandEnabled,.soria .dijitTitlePane .dijitClosed .dijitArrowNode,.soria .dijitTitlePane .dijitOpen .dijitArrowNode,.soria .dijitTab .dijitClosable .closeImage,.soria .dijitTabCloseButton .dijitClosable .closeImage,.soria .dijitTabCloseButtonHover .dijitClosable .closeImage,.soria .dijitSplitContainerSizerH .thumb,.soria .dijitSplitContainerSizerV .thumb,.soria .dijitDialogCloseIcon,.soria .dijitTooltipConnector,.soria .dijitAccordionArrow,.soria .dijitCalendarDecrease,.soria .dijitCalendarIncrease,.soria .dijitHorizontalSliderDecrementIcon,.soria .dijitHorizontalSliderIncrementIcon,.soria .dijitVerticalSliderIncrementIcon,.soria .dijitVerticalSliderDecrementIcon,.soria .dijitHorizontalSliderImageHandle,.soria .dijitVerticalSliderImageHandle,.soria .dijitInputFieldValidationIconNormal,.soria .dijitInputFieldValidationIcon,.soria.dojoDndMove .dojoDndAvatarCanDrop .dojoDndAvatarHeader,.soria.dojoDndCopy .dojoDndAvatarCanDrop .dojoDndAvatarHeader,.soria.dojoDndCopy .dojoDndAvatarHeader,.soria.dojoDndMove .dojoDndAvatarHeader,.dijitRtl .dijitCalendarDecrease,.dijitRtl .dijitCalendarIncrease,.dijitRtl .dijitMenuItem .dijitMenuExpandEnabled,.dijitRtl .dijitTitlePane .dijitClosed .dijitArrowNode,.dijitRtl .dijitDialogTitleBar .dijitDialogCloseIcon{width:16px;height:16px;overflow:hidden;margin:0;padding:0;background-image:url('images/arrows.png');background-repeat:none;}
.soria .dijitCheckBoxIcon,.soria .dijitRadioIcon,.soria .dijitCheckBox,.soria .dijitRadio{width:16px;height:16px;margin:0;padding:0;background-image:url('images/arrows.png');}
.soria .dijitPopup div,.soria .dijitPopup table{opacity:.95;}
.soria .dijitButtonNode{border:1px solid #4f8ce5;vertical-align:middle;padding:.2em .2em;}
.dj_ie6 .soria .dijitButtonNode{zoom:1;padding-bottom:.1em;}
.soria .dijitButtonDisabled .dijitButtonNode,.soria .dijitToggleButtonDisabled .dijitButtonNode,.soria .dijitDropDownButtonDisabled .dijitButtonNode,.soria .dijitComboButtonDisabled .dijitButtonNode,.soria .dijitComboBoxDisabled .dijitDownArrowButton,.soria .dijitComboBoxDisabled .dijitInputField,.soria .dijitSpinnerDisabled .dijitInputField,.soria .dijitSpinnerDisabled .dijitButtonNode{border:1px solid #d5d5d5;background:#ccc url("images/gradientTopBg.png") repeat-x top left;opacity:.50;}
.soria .dijitButtonDisabled .dijitButtonNode *,.soria .dijitToggleButtonDisabled .dijitButtonNode *,.soria .dijitDropDownButtonDisabled .dijitButtonNode *,.soria .dijitComboButtonDisabled .dijitButtonNode *,.soria .dijitSpinnerDisabled .dijitButtonNode *{filter:gray() alpha(opacity=50);}
.soria .dijitButtonHover .dijitButtonNode,.soria .dijitToggleButtonHover .dijitButtonNode,.soria .dijitDropDownButtonHover .dijitButtonNode,.soria .dijitComboButtonHover .dijitButtonContents,.soria .dijitComboButtonDownArrowHover .dijitDownArrowButton,.soria .dijitComboBoxHover .dijitDownArrowButton,.soria .dijitSpinnerUpArrowHover .dijitUpArrowButton,.soria .dijitSpinnerDownArrowHover .dijitDownArrowButton{border-color:#666;color:#fff;background-position:0 -1px;}
.soria .dijitButtonActive .dijitButtonNode,.soria .dijitToggleButtonActive .dijitButtonNode,.soria .dijitDropDownButtonActive .dijitButtonNode,.soria .dijitComboButtonActive .dijitButtonContents,.soria .dijitDownArrowActive .dijitDownArrowButton,.soria .dijitComboBoxActive .dijitDownArrowButton{border-color:#333;background:#cbdcf7 url("images/gradientBottomBg.png") bottom repeat-x;}
.soria .dijitButtonNode *{display:-moz-inline-box;display:inline-block;vertical-align:middle;}
.dj_ie .soria .dijitButtonNode *{zoom:1;display:inline;}
.soria .dijitButtonText{padding:0 .3em;}
.soria .dijitToolbar{border:1px solid #333;}
.soria .dijitToolbar *{padding:0;margin:0;}
.dj_ie .soria .dijitToolbar{padding-bottom:1px;margin-top:-1px;}
.soria .dijitToolbar .dijitButtonNode{padding:0;margin:0;border:1px solid transparent;background:none;}
.soria .dijitToolbar .dijitToggleButtonChecked .dijitButtonNode{background-color:#C1D2EE;border:1px solid #666;border-top:0;border-bottom:0;}
.soria .dijitToolbar .dijitToggleButtonCheckedHover .dijitButtonContents{border-color:#000;background-color:transparent;}
.dj_ie6 .soria .dijitToolbar .dijitButtonNode{border-color:#e9e9e9;}
.soria .dijitToolbar .dijitButtonHover .dijitButtonNode,.soria .dijitToolbar .dijitToggleButtonHover .dijitButtonNode,.soria .dijitToolbar .dijitDropDownButtonHover .dijitButtonNode{border-color:#366dba;}
.dijitToolbarSeparator{background:url('images/editor.gif');height:18px;width:5px;padding:0 1px 0 1px;margin:0;}
.soria .dijitToolbar .dijitToolbarSeparator{background:url('images/editor.gif');}
.soria .dijitComboBox .dijitDownArrowButtonChar{display:none;}
.soria .dijitComboBox .dijitDownArrowButtonInner{background-position:0 0;}
.soria .dijitSpinner .dijitButtonNode{padding:0 .4em 0 .4em;}
.soria .dijitComboBox{margin:.0em .1em .2em .1em;}
.soria .dijitInputField,.soria .dijitInlineEditor input,.soria .dijitTextArea{font-size:inherit;background:#fff url("images/gradientInverseTopBg.png") repeat-x top left;background-position:0 -32px;line-height:normal;padding:.2em .3em;}
.dj_ie .soria TD.dijitInputField,.dj_ie .soria .dijitInputField INPUT{height:1.65em;}
.dj_safari .soria .dijitInputField{padding:.08em .3em;}
.soria INPUT.dijitTextBox{padding:.2em .3em;}
.dj_ie .soria .dijitTextBox INPUT,.dj_ie .soria .dijitComboBox INPUT,.dj_ie .soria .dijitSpinner INPUT{width:95%!important;}
.soria .dijitComboBoxFocused .dijitInputField{border-color:#333;border-style:inset;}
.soria .dijitComboBoxHover .dijitInputField{border-color:#4f8ce5;}
HTML.dj_ie6 .soria .dijitInputFieldValidationError,.soria .dijitInputFieldValidationError{border:1px solid #f3d118;background-color::#f9f7ba;background-image:none;}
.soria .dijitInputFieldFocused{border:1px solid #000;}
.soria .dijitInputFieldValidationError:hover,.soria .dijitInputFieldValidationError:focus{background-color:#ff6;background-image:none;}
.soria .dijitInputFieldValidationIcon{margin-left:3px;padding-bottom:1px;}
.soria .dijitInputFieldValidationIconNormal{background-image:none;}
.soria .dijitInputFieldValidationIconError{background-position:-384px 0;}
.soria .dijitInputFieldValidationIconText{visibility:hidden;}
.soria .dijitToggleButton .dijitCheckBox,.soria .dijitToggleButton .dijitRadio,.soria .dijitToggleButton .dijitCheckBoxIcon,.soria .dijitToggleButton .dijitRadioIcon{background-image:url('images/checkmarkNoBorder.gif');}
.soria .dijitCheckBox,.soria .dijitToggleButton .dijitCheckBoxIcon{background-position:-112px;}
.soria .dijitCheckBoxChecked,.soria .dijitToggleButtonChecked .dijitCheckBoxIcon{background-position:-96px;}
.soria .dijitCheckBoxDisabled{background-position:-144px;}
.soria .dijitCheckBoxCheckedDisabled{background-position:-128px;}
.soria .dijitCheckBoxHover,.soria .dijitCheckBoxFocused{background-position:-176px;}
.soria .dijitCheckBoxCheckedHover,.soria .dijitCheckBoxCheckedFocused{background-position:-160px;}
.soria .dijitRadio,.soria .dijitToggleButton .dijitRadioIcon{background-position:-208px;}
.soria .dijitRadioChecked,.soria .dijitToggleButtonChecked .dijitRadioIcon{background-position:-192px;}
.soria .dijitRadioCheckedDisabled{background-position:-224px;}
.soria .dijitRadioDisabled{background-position:-240px;}
.soria .dijitRadioHover,.soria .dijitRadioFocused{background-position:-272px;}
.soria .dijitRadioCheckedHover,.soria .dijitRadioCheckedFocused{background-position:-256px;}
.soria .dijitMenu{border:1px solid #333;margin:0;padding:0;}
.soria .dijitMenuSeparator,.soria .dijitMenuItem{background-color:#b7cdee;font:menu;margin:0;}
.soria .dijitMenuItem TD{padding:2px;outline:0;}
.soria .dijitMenuItemHover{background-color:#4f8ce5;color:#fff;}
.soria .dijitMenuExpand{display:none;}
.soria .dijitMenuExpandEnabled{background-position:-48px 0;display:block;}
.soria .dijitMenuExpandInner{display:none!important;}
.soria .dijitMenuSeparatorTop{border-bottom:1px solid #333;}
.soria .dijitMenuSeparatorBottom{border-top:1px solid #666;}
.soria .dijitTitlePane .dijitTitlePaneTitle{border:1px solid #333;border-bottom:0;background-position:0 -1px;padding:4px 4px 4px 4px;cursor:pointer;color:#fff;font-weight:bold;}
.soria .dijitTitlePane .dijitClosed{border-bottom:1px solid #333;}
.soria .dijitTitlePane .dijitClosed .dijitArrowNode{background-position:-48px 0;}
.soria .dijitTitlePane .dijitOpen .dijitArrowNode{background-position:0 0;}
.soria .dijitTitlePane .dijitArrowNodeInner{visibility:hidden;}
.soria .dijitTitlePaneTitle .dijitOpenCloseArrowOuter{margin-right:5px;}
.soria .dijitOpen .dijitTitlePaneTitle .dijitOpenCloseArrowOuter{position:relative;top:2px;}
.soria .dijitTitlePaneContentOuter{background:#fff;border:1px solid #666;border-top:1px solid #666;}
.soria .dijitTitlePaneContentInner{padding:10px;}
.dj_ie6 .soria .dijitTitlePaneContentOuter,.dj_ie6 .soria .dijitTitlePane .dijitTitlePaneTitle{zoom:1;}
.soria .dijitClickableRegion{background-color:#ffc!important;}
.soria .dijitTabPaneWrapper{background:#fff;border:1px solid #666;}
.soria .dijitTab{line-height:normal;margin-right:3px;padding:0;border:1px solid #666;}
.soria .dijitAlignLeft .dijitTab,.soria .dijitAlignRight .dijitTab{margin-right:0;margin-bottom:5px;}
.soria .dijitTabInnerDiv{padding:6px 10px 4px 10px;border-bottom:transparent;}
.dj_ie6 .soria .dijitTabInnerDiv{border-bottom:0;}
.soria .dijitTabInnerDiv span{outline:0;}
.soria .dijitTabHover,.soria .dijitTabCloseButtonHover{color:#fff;border-top-color:#333;border-left-color:#333;border-right-color:#333;}
.soria .dijitTabChecked,.soria .dijitTabCloseButtonChecked{background-color:#fff;border-color:#666;border-top:1px solid #666;color:#333;background-image:none;}
.soria .dijitTabCloseButton{border-bottom:1px solid #fff;}
.soria .dijitAlignTop .dijitTabChecked,.soria .dijitAlignTop .dijitTabCloseButtonChecked{border-bottom-color:white;vertical-align:bottom;}
.soria .dijitAlignBottom .dijitTabChecked,.soria .dijitAlignBottom .dijitTabCloseButtonChecked{border-top-color:transparent;-moz-border-radius:2px 2px 0 0;}
.soria .dijitAlignLeft .dijitTabChecked,.soria .dijitAlignLeft .dijitTabCloseButtonChecked{border-right-color:white;}
.soria .dijitAlignRight .dijitTabChecked,.soria .dijitAlignRight .dijitTabCloseButtonChecked{border-left-color:white;}
.soria .dijitTab .dijitClosable{position:relative;padding:6px 24px 3px 10px;}
.soria .dijitTab .dijitClosable .closeImage{position:absolute;top:5px;right:3px;background-position:-65px -1px;}
.soria .dijitTabCloseButton .dijitClosable .closeImage{background-position:-65px -1px;}
.soria .dijitTabCloseButtonHover .dijitClosable .closeImage{background-position:-81px -1px;}
.soria .dijitAlignLeft .dijitTab .dijitClosable{padding:6px 10px 6px 20px;}
.dj_ie6 .soria .dijitAlignLeft .dijitTab .dijitClosable .closeImage{left:-20px;}
.soria .dijitAlignBottom .dijitTab .dijitClosable .closeImage{top:auto;bottom:5px;right:2px;}
.soria .dijitAlignLeft .dijitTab .dijitClosable .closeImage{top:2px;left:5px;}
.soria .dijitSplitContainerSizerH{background:#b7cdee url("images/gradientLeftBg.png") repeat-y;border:0;border-right:1px solid #cbdcf7;width:7px;}
.soria .dijitSplitContainerSizerH .thumb{background-position:-357px 0;left:0;width:6px;}
.soria .dijitSplitContainerSizerV{border:0;border-bottom:1px solid #cbdcf7;height:7px;}
.soria .dijitSplitContainerSizerV .thumb{background-position:-368px -5px;top:0;height:6px;}
.soria .dijitDialog{margin:0;padding:0;background:#eee;border:1px solid #666;border-top:0;-webkit-box-shadow:0 3px 7px #adadad;}
.soria .dijitDialog .dijitDialogTitle{border-top:none;border-left:none;border-right:none;}
.soria .dijitDialog .dijitDialogPaneContent{background:#fff;border:none;padding:10px;outline:0;opacity:1;}
.soria .dijitDialogTitleBar{border-top:1px solid #666;border-bottom:1px solid #666;padding:4px 4px 4px 4px;cursor:move;outline:0;}
.soria .dijitDialogTitle{font-weight:bold;color:#fff;padding:8px 8px 8px 8px;outline:0;}
.soria .dijitDialogCloseIcon{background-position:-64px 0;float:right;position:absolute;vertical-align:middle;right:5px;top:5px;cursor:pointer;}
.soria .dijitDialogContent{padding:8px;}
.soria .dijitTooltip,.soria .dijitTooltipDialog{opacity:.85;background:transparent;}
.dijitTooltipBelow{padding-top:13px;}
.dijitTooltipAbove{padding-bottom:13px;}
.soria .dijitTooltipContainer{background-color:#ffc;background-position:0 -30px;border:1px solid #333;padding:.45em;border-radius:6px;-moz-border-radius:7px;-webkit-border-radius:6px;}
.soria .dijitTooltipContents{outline:0;}
.soria .dijitTooltipConnector{border:0;z-index:2;width:16px;height:14px;}
.soria .dijitTooltipABRight .dijitTooltipConnector{left:auto!important;right:3px;}
.soria .dijitTooltipBelow .dijitTooltipConnector{top:0;left:3px;background-position:-336px 0;}
.soria .dijitTooltipAbove .dijitTooltipConnector{bottom:0;left:3px;background-position:-304px 0;}
.soria .dijitTooltipLeft{padding-right:14px;}
.dj_ie6 .soria .dijitTooltipLeft{padding-right:16px;}
.soria .dijitTooltipLeft .dijitTooltipConnector{right:0;bottom:7px;background-position:-288px 0;}
.soria .dijitTooltipRight{padding-left:13px;}
.soria .dijitTooltipRight .dijitTooltipConnector{left:0;bottom:7px;background-position:-321px 0;}
.soria .dijitAccordionPane .dijitAccordionTitle{border:1px solid #666;border-bottom:0;padding:5px 5px 3px 5px;color:#333;}
.soria .dijitAccordionPane-selected .dijitAccordionTitle{color:#fff;padding:5px 5px 3px 5px;font-weight:bold;}
.soria .dijitAccordionPane .dijitAccordionArrow{background-position:-32px 0;}
.soria .dijitAccordionPane-selected .dijitAccordionArrow{background-position:0 0;}
.soria .dijitAccordionPane .dijitAccordionBody{background:#fff;border:1px solid #666;border-bottom:0;}
.soria .dijitTreeNode{margin-left:19px;cursor:pointer;zoom:1;}
.soria .dijitTreeIsRoot{margin-left:4px;}
.soria .dijitTreeIsLast{background:transparent;}
.soria .dijitTreeExpando{width:18px;height:18px;cursor:pointer;}
.soria .dijitTreeContent{min-height:18px;min-width:18px;margin-left:16px;padding-top:3px;padding-left:1px;}
.soria .dijitTreeExpand{width:18px;height:18px;background-repeat:no-repeat;}
.soria .dijitTreeNodeEmphasized{background-color:Highlight;color:HighlightText;}
.soria .dijitTreeLabelFocused{outline:0;border-top:0;border-bottom:2px solid #4f8ce5;background-color:#b7cdee;}
.soria .dijitTreeExpandoOpened{background-image:url('images/treeExpand_minus.gif');}
.soria .dijitTreeExpandoClosed{background-image:url('images/treeExpand_plus.gif');}
.soria .dijitTreeExpandoLoading{background-image:url('images/treeExpand_loading.gif');}
.dj_ie6 .soria .dijitCalendarIncrementControl{padding:.1em;}
.soria .dijitCalendarIncreaseInner,.soria .dijitCalendarDecreaseInner{display:none;}
.soria .dijitCalendarDecrease{background-position:-16px 0;}
.soria .dijitCalendarIncrease{background-position:-48px 0;}
.soria table.dijitCalendarContainer{font-size:100%;border-collapse:collapse;border-spacing:0;border:1px solid #666;margin:0;}
.soria .dijitCalendarMonthContainer th{padding-top:.3em;padding-bottom:.1em;text-align:center;}
.dj_ie6 .soria .dijitCalendarMonthContainer th{padding-top:.1em;padding-bottom:0;}
.soria .dijitCalendarDayLabelTemplate{background:#b7cdee url("images/gradientBottomBg.png") repeat-x bottom;font-weight:normal;background-position:0 -28px;padding-top:.15em;padding-bottom:0;border-top:0;border-bottom:1px solid #666;color:#293a4b;text-align:center;}
.soria .dijitCalendarMonthLabel{color:#293a4b;font-size:.75em;font-weight:bold;text-align:center;}
.dj_ie7 .soria .dijitCalendarDateTemplate,.dj_ie6 .soria .dijitCalendarDateTemplate{font-size:.8em;}
.soria .dijitCalendarDateTemplate{font-size:.9em;font-weight:bold;text-align:center;padding:.3em .3em .05em .3em;letter-spacing:1px;}
.soria .dijitCalendarPreviousMonth,.soria .dijitCalendarNextMonth{color:#999;background-color:#f8f8f8!important;}
.soria .dijitCalendarPreviousMonthDisabled,.soria .dijitCalendarNextMonthDisabled{background-color:#a4a5a6!important;}
.soria .dijitCalendarCurrentMonth{background-color:white!important;}
.soria .dijitCalendarCurrentMonthDisabled{background-color:#bbbbbc!important;}
.soria .dijitCalendarCurrentDate{text-decoration:underline;font-weight:bold;}
.soria .dijitCalendarSelectedDate{background-color:#4f8ce5!important;color:#fff!important;}
.soria .dijitCalendarYearContainer{background:#b7cdee url("images/gradientBottomBg.png") repeat-x bottom;border-top:1px solid #333;}
.soria .dijitCalendarYearLabel{margin:0;padding:.4em 0 .25em 0;text-align:center;}
.soria .dijitCalendarSelectedYear{color:#fff;padding:.2em;padding-bottom:.1em;background-color:#4f8ce5!important;}
.soria .dijitCalendarNextYear,.soria .dijitCalendarPreviousYear{color:black!important;font-weight:normal;}
.soria .dijitInlineValue{padding:3px;margin:4px;}
.soria .dijitInlineEditor{display:inline-block;display:-moz-inline-stack;}
.dj_ie6 .dijitInLineEditor{display:inline;}
.dijitInlineEditor .saveButton,.dijitInlineEditor .cancelButton{margin:3px 3px 3px 0;}
.soria .dijitProgressBar{margin:2px 0 2px 0;}
.soria .dijitProgressBarEmpty{border-color:#333;}
.soria .dijitProgressBarLabel{color:#293a4b;}
.soria .dijitProgressBarIndeterminate .dijitProgressBarTile{background:#b7cdee url("images/progressBarAnim.gif") repeat-x top left;}
.soria .dijitHorizontalSliderProgressBar{border-color:#333;zoom:1;}
.soria .dijitVerticalSliderProgressBar{border-color:#333;background:#4f8ce5 url("images/gradientLeftBg.png") repeat-y bottom left;}
.soria .dijitVerticalSliderRemainingBar{border-color:#333;background:#b7cdee url("images/gradientLeftBg.png") repeat-y bottom left;}
.soria .dijitHorizontalSliderRemainingBar{border-color:#333;}
.soria .dijitSliderBar{border-style:solid;outline:1px;}
.soria .dijitHorizontalSliderImageHandle{border:0;background-position:-416px 0;cursor:pointer;}
.soria .dijitHorizontalSliderLeftBumper{border:0;border-right:1px solid #333;background:transparent;}
.soria .dijitHorizontalSliderRightBumper{border:0;border-left:1px solid #333;background:transparent;}
.soria .dijitVerticalSliderImageHandle{border:0;background-position:-400px 0;cursor:pointer;}
.soria .dijitVerticalSliderBottomBumper{border-bottom-width:1px;border-color:#333;background:#4f8ce5 url("images/gradientLeftBg.png") repeat-y bottom left;}
.soria .dijitVerticalSliderTopBumper{background:#b7cdee url("images/gradientLeftBg.png") repeat-y top left;border-color:#333;border-top-width:1px;}
.soria .dijitSliderDisabled{opacity:.5!important;}
.dj_ie6 .soria .dijitSliderDisabled{filter:gray() alpha(opacity=50);}
.soria .dijitHorizontalSliderIncrementIcon{background-position:-48px 0;}
.soria .dijitHorizontalSliderDecrementIcon{background-position:-16px 0;}
.soria .dijitVerticalSliderIncrementIcon{background-position:-32px 0;}
.soria .dijitVerticalSliderDecrementIcon{background-position:0 0;}
.soria .dijitSliderButtonInner{visibility:hidden;}
.dijit_a11y .dijitSliderButtonInner{visibility:visible!important;}
.soria .dijitEditorIcon{background-image:url('images/editor.gif');background-repeat:no-repeat;width:18px;height:18px;text-align:center;}
.soria .dijitEditorIconSep{background-position:0 0;}
.soria .dijitEditorIconBackColor{background-position:-18px;}
.soria .dijitEditorIconBold{background-position:-36px;}
.soria .dijitEditorIconCancel{background-position:-54px;}
.soria .dijitEditorIconCopy{background-position:-72px;}
.soria .dijitEditorIconCreateLink{background-position:-90px;}
.soria .dijitEditorIconCut{background-position:-108px;}
.soria .dijitEditorIconDelete{background-position:-126px;}
.soria .dijitEditorIconForeColor{background-position:-144px;}
.soria .dijitEditorIconHiliteColor{background-position:-162px;}
.soria .dijitEditorIconIndent{background-position:-180px;}
.soria .dijitEditorIconInsertHorizontalRule{background-position:-198px;}
.soria .dijitEditorIconInsertImage{background-position:-216px;}
.soria .dijitEditorIconInsertOrderedList{background-position:-234px;}
.soria .dijitEditorIconInsertTable{background-position:-252px;}
.soria .dijitEditorIconInsertUnorderedList{background-position:-270px;}
.soria .dijitEditorIconItalic{background-position:-288px;}
.soria .dijitEditorIconJustifyCenter{background-position:-306px;}
.soria .dijitEditorIconJustifyFull{background-position:-324px;}
.soria .dijitEditorIconJustifyLeft{background-position:-342px;}
.soria .dijitEditorIconJustifyRight{background-position:-360px;}
.soria .dijitEditorIconLeftToRight{background-position:-378px;}
.soria .dijitEditorIconListBulletIndent{background-position:-396px;}
.soria .dijitEditorIconListBulletOutdent{background-position:-414px;}
.soria .dijitEditorIconListNumIndent{background-position:-432px;}
.soria .dijitEditorIconListNumOutdent{background-position:-450px;}
.soria .dijitEditorIconOutdent{background-position:-468px;}
.soria .dijitEditorIconPaste{background-position:-486px;}
.soria .dijitEditorIconRedo{background-position:-504px;}
.soria .dijitEditorIconRemoveFormat{background-position:-522px;}
.soria .dijitEditorIconRightToLeft{background-position:-540px;}
.soria .dijitEditorIconSave{background-position:-558px;}
.soria .dijitEditorIconSpace{background-position:-576px;}
.soria .dijitEditorIconStrikethrough{background-position:-594px;}
.soria .dijitEditorIconSubscript{background-position:-612px;}
.soria .dijitEditorIconSuperscript{background-position:-630px;}
.soria .dijitEditorIconUnderline{background-position:-648px;}
.soria .dijitEditorIconUndo{background-position:-666px;}
.soria .dijitEditorIconWikiword{background-position:-684px;}
.dj_ie6 .soria .dijitInputField{background:#fff;}
.soria .dijitDisabledClickableRegion,.soria .dijitSliderDisabled *,.soria .dijitSpinnerDisabled *,.soria .dijitButtonDisabled *,.soria .dijitDropDownButtonDisabled *,.soria .dijitComboButtonDisabled *,.soria .dijitComboBoxDisabled *{cursor:not-allowed!important;}
.soria .dojoDndAvatar{font-size:75%;color:black;}
.soria .dojoDndAvatarHeader td{padding-left:20px;padding-right:4px;}
.soria .dojoDndAvatarHeader{background:#ccc;}
.soria .dojoDndAvatarItem{background:#eee;}
.soria.dojoDndMove .dojoDndAvatarHeader{background-position:-432px 0;}
.soria.dojoDndCopy .dojoDndAvatarHeader{background-position:-448px 0;}
.soria.dojoDndMove .dojoDndAvatarCanDrop .dojoDndAvatarHeader{background-position:-464px 0;}
.soria.dojoDndCopy .dojoDndAvatarCanDrop .dojoDndAvatarHeader{background-position:-480px 0;}