@charset "utf-8";html{margin:0;padding:0;}
body{margin:0;padding:0;font-family:Arial,Helvetica,sans-serif;-webkit-auto-text-size-adjust:none;background:#333;}
li{font-size:small;}
table{width:100%;}
table th{padding:5px;text-align:left;background:#f0f0f0;}
table td{padding:5px;}
input{font-size:small;}
input.text{line-height:1.4em;}
input.submit{min-height:2em;padding:0 5px;}
input.checkbox{vertical-align:middle;height:1.2em;width:1.2em;}
input.checkbox:checked{background:#f00;}
option{font-size:small;}
textarea{width:90%;line-height:1.4em;font-size:small;}
#wrapper{background:#fff;}
#header{width:100%;height:22px;padding:5px;}
#header h1{width:61px;float:left;margin:0;padding:0;}
#header .menu{float:left;text-align:right;}
h2{margin:0;padding:2px 0;font-size:small;font-weight:normal;text-align:center;text-shadow:1px 1px 1px #c60;background:#f90;border-top:solid 1px #ffe090;border-bottom:solid 1px #cc6f00;}
#contents{padding:5px 2%;font-size:1.2em;}
#contents h3{padding:2px;font-size:1em;border-top:solid 1px #ccc;background:#f0f0f0;}
#contents h4{border-bottom:solid 1px #ccc;}
#contents ul,#contents ol{padding-left:2em;}
#contents #mainMenu{width:100%;margin:0;text-align:center;}
#contents #mainMenu p{display:block;float:left;width:33%;margin:0;}
#contents #mainMenu a{display:block;padding:3px 0;color:#333;font-size:x-small;text-align:center;text-decoration:none;border-top:solid 1px #e0e0e0;border-right:solid 1px #c0c0c0;border-bottom:solid 1px #c0c0c0;border-left:solid 1px #e0e0e0;}
#contents #mainMenu a{display:block;}
#contents #mainMenu li{float:left;width:33%;list-style:none;}
#contents #mainMenu li.even a{background-image:-webkit-gradient(linear,left top,left bottom,from(#f0f0f0),to(#e0e0e0));}
#contents #mainMenu li a img{margin-bottom:5px;}
.submenu{margin:0;padding:0;text-align:center;line-height:1em;border-top:solid 1px #e0e0e0;border-bottom:solid 1px #e0e0e0;background:#eee;}
#footer{width:100%;clear:both;padding:5px;font-size:x-small;color:#fff;text-align:right;background:#303030;}
#copy a{text-decoration:none;color:#fff;}
#archiveList_category ul li:after,.pagenation:after,#breadcrumb:after,#footer:after,#contents:after,#header:after{content:".";height:0;clear:both;display:block;visibility:hidden;}
#archiveList_category ul li,.pagenation,#breadcrumb,#footer,#contents,#header{display:inline-block;}
* html #archiveList_category ul li,* html .pagenation,* html #breadcrumb,* html #footer,* html #contents,* html #header{height:1%;}
#archiveList_category ul li:after,.pagenation:after,#breadcrumb:after,#footer:after,#contents:after,#header:after{display:block;}
.center{text-align:center;}
.center img{display:block:margin:inherit auto;}
.right{text-align:right;}
.left{text-align:left;}
.floatRight{float:right;}
.floatLeft{float:left;}
.clear{clear:both;}
.abs{position:absolute;}
.rlt{position:relative;}
.w100,.wide{width:100%;}
textarea.wide,input.wide{width:90%;}
.w99{width:99.9%;}
.w95{width:95%;}
.w90{width:90%;}
.w85{width:85%;}
.w80{width:80%;}
.w75{width:75%;}
.w70{width:70%;}
.w65{width:65%;}
.w60{width:60%;}
.w55{width:55%;}
.w50,.half{width:50%;}
.w45{width:45%;}
.w40{width:40%;}
.w35{width:35%;}
.w30{width:30%;}
.w25,.quater{width:25%;}
.w20{width:20%;}
.w15{width:15%;}
.w10{width:10%;}
.w5{width:5%;}
.noMP{margin:0;padding:0;}
.noMargin{margin:0;}
.mt0{margin-top:0!important;}
.mr0{margin-right:0!important;}
.mb0{margin-bottom:0!important;}
.ml0{margin-left:0!important;}
.ma0{margin:0!important;}
.mt5{margin-top:5px!important;}
.mr5{margin-right:5px!important;}
.mb5{margin-bottom:5px!important;}
.ml5{margin-left:5px!important;}
.ma5{margin:5px!important;}
.mt10{margin-top:10px!important;}
.mr10{margin-right:10px!important;}
.mb10{margin-bottom:10px!important;}
.ml10{margin-left:10px!important;}
.ma10{margin:10px!important;}
.mt15{margin-top:15px!important;}
.mr15{margin-right:15px!important;}
.mb15{margin-bottom:15px!important;}
.ml15{margin-left:15px!important;}
.ma15{margin:15px!important;}
.mt20{margin-top:20px!important;}
.mr20{margin-right:20px!important;}
.mb20{margin-bottom:20px!important;}
.ml20{margin-left:20px!important;}
.ma20{margin:20px!important;}
.mh0{margin-top:0!important;margin-bottom:0!important;}
.mh5{margin-top:5px!important;margin-bottom:5px!important;}
.mh10{margin-top:10px!important;margin-bottom:10px!important;}
.mh15{margin-top:15px!important;margin-bottom:15px!important;}
.mh20{margin-top:20px!important;margin-bottom:20px!important;}
.noPadding{padding:0;}
.pt0{padding-top:0!important;}
.pr0{padding-right:0!important;}
.pb0{padding-bottom:0!important;}
.pl0{padding-left:0!important;}
.pa0{padding:0!important;}
.pt5{padding-top:5px!important;}
.pr5{padding-right:5px!important;}
.pb5{padding-bottom:5px!important;}
.pl5{padding-left:5px!important;}
.pa5{padding:5px!important;}
.pt10{padding-top:10px!important;}
.pr10{padding-right:10px!important;}
.pb10{padding-bottom:10px!important;}
.pl10{padding-left:10px!important;}
.pa10{padding:10px!important;}
.pt15{padding-top:15px!important;}
.pr15{padding-right:15px!important;}
.pb15{padding-bottom:15px!important;}
.pl15{padding-left:15px!important;}
.pa15{padding:15px!important;}
.pt20{padding-top:20px!important;}
.pr20{padding-right:20px!important;}
.pb20{padding-bottom:20px!important;}
.pl20{padding-left:20px!important;}
.pa20{padding:20px!important;}
.fssmaller{font-size:smaller;}
.fslarger{font-size:large;}
.fs10{font-size:77%;*font-size:70%;}
.fs11{font-size:85%;}
.fs12{font-size:92%;}
.fs13{font-size:100%;}
.fs14{font-size:108%;}
.fs15{font-size:116%;}
.fs16{font-size:123.1%;}
.fs17{font-size:131%;}
.fs18{font-size:138.5%;}
.fcOrange{color:#f90;}
.fcBlue{color:#06c;}
.fcGreen{color:#0c6;}
.fcRed{color:#f00;}
.fcPink{color:#ff909f;}
.fcYellow{color:#fc0;}
.fcGray{color:#909090;}
#contents .radius_list{font-size:small;border:solid 1px #ccc;}
#contents .radius_list p{margin:0;padding:0;list-style:none;border:solid 1px #fff;background:#efefef;}
#contents .radius_list p a{display:block;padding:5px;text-decoration:none;color:#000;}
#contents .menu_list{margin:5px 0;padding:0;font-size:small;border:solid 1px #ccc;-webkit-border-radius:5px;}
#contents .menu_list p{margin:0;padding:0;list-style:none;-webkit-border-radius:5px;border:solid 1px #fff;}
#contents .menu_list p a{display:block;padding:10px;text-decoration:none;color:#000;background:#efefef;}
#contents .multi_list{margin:10px 0;padding:0;}
#contents .multi_list div{margin:5px 0;list-style:none;-webkit-border-radius:5px;border:solid 1px #ccc;background:#cfcfcf;}
#contents .multi_list p{margin:0;border:solid 1px #fff;}
#contents .multi_list p.parent a{font-weight:bold;background:#999;}
#contents .multi_list p span{display:block;padding:5px;background:#fff;}
#contents .multi_list p a{display:block;padding:5px;color:#000;text-decoration:none;background:#efefef;}
#contents .multi_list li ul{margin:0;padding:0;}
#contents .multi_list li li{margin:0;padding:0;border:none;-webkit-border-radius:0;}
#contents .multi_list li ul li a{background-image:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#ddd));}
.nowrap{white-space:nowrap;}
.thc th{text-align:center;}
.thl th{text-align:left;}
.caution{font-weight:bold;color:#f00;}
a.btn,a.btn_left,a.btn_right{display:inline-block;line-height:2em;margin:0;padding:2px 5px;color:#000;font-size:x-small;text-align:center;text-decoration:none;border-top:solid 1px #e0e0e0;border-right:solid 1px #c0c0c0;border-bottom:solid 1px #c0c0c0;border-left:solid 1px #e0e0e0;background:#ddd;}
a.btn_left{-webkit-border-top-left-radius:15px;}
a.btn_right{-webkit-border-top-right-radius:15px;}
.box_recital{padding:5px;font-size:x-small;*font-size:xx-small;color:#999;background:#f3f3f3;}
.box_grayLine{margin:20px 0;padding:5px;border:solid 1px #e0e0e0;background:#f6f6f6;}
.box_grayLineBold{margin:20px 0;padding:5px;border:solid 5px #e0e0e0;}
.box_grayBack{margin:20px 0;padding:10px;background:#f3f3f3;}
.box_attention{padding:20px 10px;text-align:center;background:#f3f3f3;}
.navi{position:relative;width:100%;margin:0;padding:0 0 5px 0;color:#666;font-size:small;text-align:center;}
.navi a{display:inline-block;}
.navi .btn_left{position:absolute;}
.navi .btn_right{position:absolute;right:0;}
dl.detail{font-size:small;border-right:solid 1px #ccc;border-bottom:solid 1px #ccc;border-left:solid 1px #ccc;}
dl.detail dt{padding:5px;font-weight:bold;border-top:solid 1px #ccc;border-bottom:solid 1px #ccc;background:#f0f0f0;}
dl.detail dd{padding:5px 0;}
.hidden{display:none;}
.rss{text-align:right;}
.navi:after,div.hlBox_bold:after,div.hlBox_gray:after,.clearfix:after{content:".";height:0;clear:both;display:block;visibility:hidden;}
.navi,div.hlBox_bold,div.hlBox_gray,.clearfix{display:inline-block;}
* html .navi,* html div.hlBox_bold,* html div.hlBox_gray,* html .clearfix{height:1%;}
.navi:after,div.hlBox_bold:after,div.hlBox_gray:after,.clearfix:after{display:block;}
#contents #schedule{margin:10px 0;padding:0;-webkit-border-radius:5px;border:solid 1px #ccc;}
#contents #schedule li{list-style:none;background:#f90;}
#contents #schedule li a{display:block;padding:5px;color:#000;text-decoration:none;}
#contents #schedule li ul{margin:0;padding:0;}
#contents #schedule li ul li a{background-image:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#ddd));}
.weaklycheck{border-top:solid 1px #eee;border-right:solid 1px #eee;border-bottom:solid 1px #eee;}
.weaklycheck p{float:left;width:14%;margin:0;text-align:center;border-left:solid 1px #eee;}
.weaklycheck .sun{color:#f30;}
.weaklycheck .sat{color:#33f;}